body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count-container{
  border: thick double rgb(0, 179, 250);
  padding: 20px;
}

.count-container > div:first-child{
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

button{
  cursor: pointer;
}

@media (max-width: 738px){
  .buttons{
    flex-direction: column;
  }
}
